#
# f06 launcher configuration file
#
#java.security.manager=java.lang.SecurityManager

#java.security.policy=etc/security.policy

# Webapps

org.osgi.framework.launch.additionalbundles=file:../f06.osgi.repository/servlet-api-2.5-6.1.9.jar;startlevel=1,\
 file:bundles/org.apache.felix.shell-1.0.1.jar;startlevel=2,\
 file:bundles/f06.osgi.shell.telnet_0.9.0.20080616.jar;startlevel=3,\
 file:../f06.osgi.repository/jetty-util-6.1.9.jar;startlevel=2,\
 file:../f06.osgi.repository/jetty-6.1.9.jar;startlevel=3,\
 file:../f06.osgi.repository/f06.commons.util.jar;startlevel=1,\
 file:../f06.osgi.repository/f06.osgi.service.webapp.jar;startlevel=4,\
 file:../f06.osgi.repository/f06.osgi.webapp.management.jar;startlevel=5
 
# Spring D-OSGi

#org.osgi.framework.launch.additionalbundles5=file:../f06.osgi.repository/org.osgi.compendium-1.2.0.jar;startlevel=1,\
# file:bundles/org.apache.felix.shell-1.0.1.jar;startlevel=2,\
# file:bundles/f06.osgi.shell.telnet_0.9.0.20080616.jar;startlevel=3,\
# file:../f06.osgi.repository/cxf-dosgi-ri-singlebundle-distribution-1.0.jar;startlevel=4,\
# file:../f06.osgi.repository/test_dosgi_1.0.0.jar;startlevel=5

org.osgi.framework.launch.additionalbundles2=file:../f06.osgi.repository/org.osgi.compendium-1.2.0.jar;startlevel=1,\
 file:bundles/org.apache.felix.log-1.0.0.jar;startlevel=1,\
 file:bundles/org.apache.felix.shell-1.0.1.jar;startlevel=2,\
 file:bundles/org.apache.felix.shell.tui-1.2.1.jar;startlevel=3,\
 file:bundles/f06.osgi.shell.telnet_0.9.0.20080616.jar;startlevel=3,\
 file:../f06.osgi.repository/cxf-dosgi-ri-singlebundle-distribution-1.0.jar;startlevel=4,\
 file:../f06.osgi.repository/test_dosgi_1.0.0.jar;startlevel=5

org.osgi.framework.launch.additionalbundles3=file:bundles/org.apache.felix.shell-1.0.1.jar;startlevel=2,\
 file:bundles/org.apache.felix.shell.tui-1.2.1.jar;startlevel=3
