#
# f06 launcher configuration file
#
#java.security.manager=java.lang.SecurityManager

#java.security.policy=etc/security.policy

org.osgi.framework.launch.additionalbundles=file:bundles/org.apache.felix.shell-1.0.1.jar;startlevel=2,\
 file:bundles/org.apache.felix.shell.tui-1.2.1.jar;startlevel=3
